<% if messages.present? %>
  <% if message.sender == current_user %>
  <div class="current-sender">
    <%= message.content %>
  </div>
  <% else %>
  <div class="current-receiver">
    <%= message.content %>
  </div>
  <% end %>
<% end %>
