.wrapper {
  background-color: #ebf1f1 !important;
}

#exTab1 .tab-content {
  color : white;
  background-color: rgb(13,135,135);
  padding : 5px 15px;
  width: 700px;
}

.wrapper {
  min-height: calc(100vh-70px-60px);
  background-color: white;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

  color: white;
  background-color: #0d8787;
  cursor: default;
  border: none;
  width: 211px;
  margin-left: -20px;
}

.form-inline {
  display: flex;
  align-items: center;

  margin-top: 10px;
  input[type='text'] {
    flex: 1;
    border: none;
    height: 50px;
    border-radius: 0;
    &:first-child {
      border-right: 1px solid #dedede;
    }
  }
  input[type='submit'] {
    height: 50px;
    border: none;
    border-radius: 0;
    padding: 10px 33px;
  }
}

.panel-default > .panel-heading {
  color: white;
  background-color: #0d8787;
  border-color: #ddd;
  border-radius: 0;
  text-align: center;
}

.panel-body {
  padding: 0 15px;
  text-align: right;
}

.panel-default {
  border-radius: 0;
  border: none;
  width: 390px;
  top: 70px;
  right: 0px;
  height: calc(100vh - 70px - 60px);
  position: fixed;
  font-weight: bolder;
  font-size: 21px;
  text-align: center;
}

#btntoshow {
  border-radius: 4px;
  font-size: 14px;
  margin-right: 0;
  width: inherit;
  padding: 15px 30px;
  border: none;
  text-transform: uppercase;
}

#btntoshow:hover {
color:#0d8787;
background-color: white;
}

.contain {
 margin-left: 298px;
}
.container-fluid {
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#exTab1 .tab-content {
  margin-top: 10px;
  color: black;
  background-color: white;
  padding: 27px 153px;
    /* width: 100%; */
    height: calc(100vh - 70px - 80px - 50px);
    margin-bottom: 30px;
    width: 900px;
  }

  #exTab2 h3 {
    color : black;
    background-color: $light-gray;
    padding : 5px 15px;
  }

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/



#exTab3 .tab-content {
  //color : white;
  //background-color: $my-green;
  //padding : 5px 15px;
  //width: 700px;
  color : black;
  background-color: $light-gray;
}

.flex {
  display: flex;
}



.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {

 color: white;

    /* margin-top: 10px; */
    opacity: 1;

  }

  .nav-tabs > li > a:hover {
    background-color: #0d8787;
    opacity: 0.33;
    color: white;
    border: none;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);

  }


  .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none;
    width: 208px;
    margin-left: -17px;
    border-radius: 0;
    padding: 34px 30px;
    h3 {
      font-size: 17px;
      margin: 0;
    }

  }





  .container-fluid .contain .tab-content .clearfix {
    margin-top: 10px;
    color: black;
    background-color: white;
    padding: 27px 153px;
    /* width: 100%; */
    height: calc(100vh - 70px - 80px - 50px);
    margin-bottom: 30px;
  }


  .verte {
    color: #598883;

  }

  a {
    color: #0d8787;
  }




  li {
    list-style-type:none;

  }

  span.prix {
    font-size: 16px;
    display:block;
    font-weight: bolder;
    color: #388887;
    margin-left: 15px;
    margin-right: 171px;
  }




  .dashboard-flexbox {
    display: flex;
    align-items: stretch;
    > ul {
      flex: 0 0 200px;
      background-color: white;
      margin: 0;
      padding: 0;
      min-height: calc(100vh - 70px - 80px);
      li {
        padding: 0px 18px;
        width: 209px;
      }
    }
    .dashboard-container {
      flex: 1 1 auto;
      background-color: #ebf1f1;
    }
  }

  .tab-pane, .dashboard-container-flexbox {
    min-height: calc(100vh - 70px - 80px);
  }

  .dashboard-container-flexbox {
  // min-height: 100%;
  display: flex;
  align-items: stretch;
  .first-column {
    width: 65%;
    padding: 20px;
  }
  .second-column {
    width: 35%;
    #map {
      width: 100%;
      height: 100%;
    }
  }
}

#third-a .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#cart .text-center {
  padding: 20px 0;
  font-size: 18px;
  border-bottom: 1px solid #c5c5c5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .text-bold {
    font-weight: bolder;
  }
  .text-blue {
    color: #388887;
  }
}


.first {
  margin-top: 20px;
}

.create-bid {
  background-color: #0d8787;
  color: white;
  padding: 7px;
  border-radius: 4px;
  margin-right: 5px;
}


.buttons {
  display: flex;
}

.create-bid:hover {
    color: #0d8787;
    background-color: white;
    text-decoration: none;
  }


.form-control:hover {
   color: #0d8787;
    background-color: white;
    text-decoration: none;

}



