.form-forgot {
  background-color: white;
  height: 261px;
  width: 449px;
  margin-left: 31%;
  padding-top: 38px;
}


.forgot-title {
  text-align: center;
  background-color: #0D8787;
  color: white;
  margin-bottom: 2px;
  text-transform: uppercase;
  width: 449px;
  padding-top: 10px;
  height: 58px;
  margin-left: 31%;
  margin-top: 70px;
}


.btn-send  {
    text-transform: uppercase !important;
    color: #0d8787 !important;
    padding-top: 18px !important;
    border: none;
  }
