.form-alignment-centered {

  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding-top: 8px;
  background-color: white;
  width: 237px;
  margin-left: 40%;



  background-color: white;


}

.form-inputs {
  justify-content: center;
}

.form-actions {
  display: flex;
  justify-content: center;
  border-color: rgb(13,135,135);
}

// .title-login h2 {
//   text-align: center;
// }

.other-actions {
  justify-content: center;
  font-family: white;
}


.title-new-session {
 margin-top: 100px;
 margin-bottom: -9px;
 h2 {
  text-transform: uppercase;
  background-color: #0d8787;
  color: white;
  padding: 13px 13px;

  width: 237px;
  margin-left: 40%;

}
}

.form-group {
    margin-bottom: 15px;
    padding-top: 10px;
}

.forgotpsw {
  padding-bottom: 20px;
  padding-left: 4px;

}

.login {
  border: none;
  margin-top: -16px;
  color: #0d8787;
  text-transform: uppercase;
}
