   .signup {
    text-transform: uppercase;
    color: white;
    background-color: #0d8787;
    width: 369px;
    margin-left: 34%;

    padding: 8px;
    margin-top: 40px;
  }


  .form-control {
    width: 96%;
  }

  .form-signup {
    background-color: white;
    width: 369px;
    margin-top: -9px;
    padding-top: 13px;
    margin-left: 396px;
    padding-left: 12px;
  }

.btn-signup {
    text-transform: uppercase !important;
    border: none !important;
    color: #0d8787 !important;
    font-size: 15px;
  }
