<div class="padded-wrapper">
  <div class="container small-container container-new-bill">
    <h3 class="text-center title-new-bill">New Bill</h3>
    <%= render 'form', bill: @bill %>
  </div>
</div>
