<div class="container">
  <div class="row">
    <div class="order-title">
        <h1 class= "text-center">Your Order</h1>
      </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <div class="form-new">
        <ul>
          <li class= "center"><strong>Status:</strong> <%= @order.state %> <span class="text-blue"><i class="fa fa-check"></i></span> </li>
          <li class= "center"><strong>Amount:</strong> <%= humanized_money_with_symbol(@order.amount) %></li>
        </ul>
      <h2 class= "text-center">Your Bids</h2>
      <div class="text-center last">
        <% @order.bids.each do |bid| %>
          <div class="order-bid">
            <span class="text-bold">Auction: <%= bid.auction.id %></span> | Price: <%= humanized_money_with_symbol(bid.bill.category.price) %>
          </div>
        <% end %>
        </div>
        </div>
    </div>
  </div>
</div>
