.wrapper-category {
 min-height: calc(100vh - 70px - 60px);
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 text-align: center;
 background-color: #ebf1f1 !important;
}

.container h1 {
 color: rgb(13,135,135);
 font-size: 28px;

 text-transform: uppercase;
 margin-top: 39px;
 margin-bottom: -48px;

}

.title-category {

  background: white;
  padding: 31px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);

}

.card {
 padding: 30px 0;
 border: solid;
 border-color: white;
 border-radius: 6px;
 box-shadow: 0 0 10px rgba(0,0,0,0.2);
 border-weight: 2px;
 color: #ebf1f1;
 background-color: rgb(13,135,135);
 margin: 16px 0;
 text-align: center;
 justify-items: center;
}

.card h1 {
 font-size: 28px;
 opacity: 0.8;
 color: white;
 font-family: $my-font;
 font-weight: bolder;
 margin: 0;
}

.card:hover {
 background-color: white;
 h1 {
  color: rgb(13,135,135);
}
}

.card-wrapper a:hover {
 color: rgb(13,135,135);
 background-color: white;
 text-decoration: none !important;
}

.i-category{
  font-size: 25px;
  margin-right: 7px;
  color: white;
}

.i-category:hover{
  color: rgb(13,135,135);
}
