.container-editing-bill {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: calc(100vh - 130px);
  justify-content: space-around;
  margin: auto;
  background-color: rgb(13,135,135);
}

.row-editing-bill-title {
  margin: 0;
  color: white;
}
.row-editing-bill-title h1 {
  font-size: 18px;
  margin: 0;
}

.row-editing-bill-title h2 {
  font-size: 12px;
   margin: 0;
}

 .form-edit {
  justify-content: space-around;
  // padding: 20px;
  background-color: rgb(13,135,135);
  border: solid;
  border-size: 8px;
  border-color: white;
  border-radius: 8px;
 }


.form-edit a {
 align-items: center;
 justify-content: space-around;
 color: black;
 }

.form-actions input.btn.button {
border-radius: 8px;
}


