
.footer {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background-image: asset-url('darkdenim3.png');
  // background-repeat: repeat;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  //border-top: 1px solid rgb(175, 175, 175);
  color: rgb(13,135,135);
}

.footer-links {
  font-size: 14px;
  color: rgb(145, 145, 145);
}

.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: rgb(13,135,135);
}

.fab {
  color: rgb(13,135,135);
}

.credits ul .credits {
display:inline;
font-size: 10px;
padding-top: 6px;
}



