
.form-new {
  background: white;
  padding: 25px 20px;
  border-radius: 0px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    background-color: #0d8787;
    color: white;
    padding: 15px;
  }
  ul {
    padding-left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
  }
  h2 {
    text-transform: uppercase;
    font-size: 14px;
    color: #388887;
    margin-top: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
}

.back {
  color: #0d8787;
  text-decoration: none;
  font-size: 19px;
  margin-top: 4px;
}


.back-i {
  margin-left: -8px;
  margin-top: 3px;
  color: #0d8787;
}

.form-n {
  margin-top: 75px;
  h3 {
    background: #388887;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 0;
  }
  .form-control {
    width: 100%;
  }
}
