

.last {
  margin-bottom: 15px;
}


.order-title {
  margin-top: 140px;
  width: 358px;
  margin-left: 407px;
  padding: 20px;
  background: #388887;
  color: white;
  text-transform: uppercase;
  h1 {
    margin: 0;
    font-size: 14px;
    color: white;
  }
}


