
#othermap {
  height: 250px;
  width: 296px;
}


#map .little-map, #second_map .little-map {
 width: 414px;
 top: 70px;
 right: 0px;
 height: 578px;
 position: fixed;
}


#map {
  width: 100% !important;
  height: 103% !important;
}

#second_map {
  width: 100% !important;
  height: 103% !important;
}

#third_map {
  width: 100% !important;
  height: 103% !important;
}
